
@{
    ViewBag.Title = "Yeni Üye";
}
@using System.Web.Security
@model MembershipUserCollection

@section head{
    <style>
        #hata {
            color: red;
            font-size: 16px;
        }
    </style>
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12 ">
        <div class="block">
            <div class="block-heading">
                <div class="main-text h2">
                    Üye Ekleme Sayfası
                </div>
                <div class="block-controls">
                    <a href="/Kullanici/Index"><span aria-hidden="true" class="icon icon-cross icon-size-medium block-control-remove"></span></a>
                    <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
                </div>
            </div>
            <div class="block-content-outer">
                <div class="block-content-inner">
                    <form action="/Kullanici/KullaniciEkle" method="post" role="form" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Kullanıcı Adı:</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Kullanıcı adı giriniz" name="UserName">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Parola:</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Parola giriniz" name="Password" min="3">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email:</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email giriniz" name="Email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Gizli soru:</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Gizli soru giriniz" name="PasswordQuestion">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Gizli cevap:</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Gizli cevap giriniz" name="PasswordAnswer">
                        </div>

                        <button type="submit" class="btn btn-primary">Kaydet</button>
                        <span id="hata"> @ViewBag.Mesaj</span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

