
@{
    ViewBag.Title = "Ana Sayfa";
}

<table border="1">
    <thead>
        <tr>
            <th>Aktif Kullanıcı</th>
            <th>Toplam Ziyaretçi</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@ViewBag.AktifKullanici</td>
            <td>@ViewBag.ToplamZiyaretci</td>
        </tr>
    </tbody>

</table>
